#inputForm{
    background-color: darkmagenta;
    margin: 0;
    /* margin-left: 50px; */
}
#userContainer{
    display:flex;
    justify-content: flex-end;
    /* background-color: aqua; */
}
.inputContainer{
    background-color: bisque;
    padding:10px
}
#Header{
    background: linear-gradient(to bottom, lavender, purple);
    margin: none;
    margin-bottom: 20px;
    display:flex;
    justify-content: space-between;
    text-align: center;
    /* height: 100px; */
}
.singleInput{
    display:flex;
    justify-content: flex-end;
}
h1{
    margin-bottom:0px;
    /* font-size: 20px; */
}
#WebTitle{
    margin-block-start: 0%;
}
body{
    margin:0px;
    background-color: rgb(233, 183, 253);
} 
#BoxContent{ 
    margin-top: 0px;
    background-color:rgb(81, 59, 90);
    padding:20px;
    margin-left:10%;
    margin-right:10%;
    height:400px;
    border: solid 3px black;
}
.allMessages{
    background: linear-gradient(lavender,purple) ;
    overflow-wrap:break-word;
    position:absolute;
    overflow-y:scroll;
    overflow-x: hidden;
    height: 400px;
    width:50%;
    border: solid 3px lawngreen;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  #Username{
      display: flex;
      justify-content: center;
      font-size: 20px;
      margin-block-start:6px;
      height:20px;
  }

  @media only screen and (max-width: 414px){
    .allMessages{
        background: linear-gradient(lavender,purple);
        justify-content: flex-start;
        overflow-wrap:break-word;
        position:absolute;
        overflow-y:scroll;
        overflow-x: hidden;
        height: 400px;
        width:70%;
        border: solid 3px lawngreen;
        font-family: "Comic Sans MS", "Comic Sans", cursive;
    }
    #userContainer{
        display: flex;
        justify-content: center;
        margin-top:420px;
        width: 60%;
        /* background-color: aqua; */
    }
    #BoxContent{ 
        margin-top: 0px;
        background-color:rgb(81, 59, 90);
        padding:20px;
        margin-left:10%;
        margin-right:10%;
        height:520px;
        border: solid 3px black;
        display: flex;
        justify-content: center;
        flex-wrap: wrap
    }
  }