#inputForm{
    background-color: darkmagenta;
    margin: 0;
    /* margin-left: 50px; */
}
#userContainer{
    display:flex;
    justify-content: flex-end;
    /* background-color: aqua; */
}
.inputContainer{
    background-color: bisque;
    padding:10px
}
#Header{
    background: linear-gradient(to bottom, lavender, purple);
    margin: none;
    margin-bottom: 20px;
    width:100%
}
.singleInput{
    display:flex;
    justify-content: flex-end;
}
h1{
    margin-block-start: 0%;
    display:flex;
    justify-content: center;
    margin-bottom:0px;
}
body{
    margin:0px;
    background-color: rgb(233, 183, 253);
}
#BoxContent{ 
    margin-top: 0px;
    background-color:rgb(81, 59, 90);
    padding:20px;
    margin-left:10%;
    margin-right:10%;
    height:400px;
}
.allMessages{
    background: linear-gradient(lavender,purple) ;
    overflow-wrap:break-word;
    position:absolute;
    overflow-y:scroll;
    overflow-x: hidden;
    height: 400px;
    width:50%;
    border: solid 3px black;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }